/*@import url("https: //fonts.google.com/share?selection.family=Roboto%7CRubik:wght@400;700");*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;700&display=swap');
* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color:rgb(167, 204, 226);
   background-image: linear-gradient(315deg, rgb(137, 194, 234) 0%, #e36fbb 100%);
   height: 100vh;
   overflow: hidden;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.quiz-container{
   background-color: #d9effc;
   box-shadow: 0 0 10px 2px #9db3cf;
   border-radius: 30px;
   width: 600px;
   overflow: hidden;

}
.quiz-header{
   padding: 4rem;
   text-align: center;
   margin: 0;
}


ul{
      list-style-type: none;
      padding: 0;
}
ul li {
   font-size: 1.2rem;
   margin: 1rem 0;
}
ul li label {
   cursor: pointer;
}
button{
   background-color: #296bbc;
   color: #ffffff;
   display: block;
   width: 100%;
   cursor: pointer;
   font-size: 1.1rem;
   font-family: inherit;
   padding: 1.3rem;
   border: none;

}

button:hover{
   background-color: #2146c8;
}
button:focus{
   background-color: #7e65cf;
   border: none;

}